body {
    width: 500px;
    min-height: 550px;
    background-color: #262626;
    color: #fff;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    margin: 0;

    
}

.title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 120px;
    margin-left: 120px;
    justify-content: space-between;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: #fff;
    border-style: solid;
    border-width: 1px;
}

.input {
    width: 100%;
    background-color: transparent;
    border: #fff;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    color: #fff;
}

form {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.row_form {
    width: 100%;
    display: flex;
    gap: 8px;
}

.row_form input{
    width: 100%;
    background-color: transparent;
    border: #fff;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    color: #fff;
}

button {
    background-color: transparent;
    padding: 5px;
    border: #fff solid 1px;
    color: white;
    width: 80px;
    margin-bottom: 50px;
}

input::placeholder {
    color: lightgray;
}

a {
    text-decoration: none;
    color: white;
}

option {
    color: darkslategrey;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #262626;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
